<header class="header">
    <div class="topHeader">
		<div class="topLogo">
			<a href="#">
				<img src="../img/homePage/header/logo/logo.png" alt="Dr. Имидж">
			</a>
		</div>
    	<div class="navigationIcon">
    		<a href="#" class="searchLink">
    			<img src="../img/homePage/header/navigation/search.png" alt="Поиск">
    		</a>
    		<a href="#" class="accountLink">
    			<img src="../img/homePage/header/navigation/account.png" alt="Аккаунт">
    		</a>
    		<a href="#" class="basketLink">
    			<img src="../img/homePage/header/navigation/basket.png" alt="Корзина покупок">
    		</a>
    	</div>
    	<nav>
			<div class="sidebar headerNavHover">
				<ul class="menu">
					<li><a href="#">Стилисты</a></li>
					<li><a href="#">Бренды</a></li>
					<li class="p_menu">
						<a href="#" class="subMenuLink">Журнал
							<img src="../img/homePage/header/navigatioMenu/pin.png" alt=">">
						</a>
						<ul class="v_menu">
							<li><a href="#">Как я провел лето</a></li>
							<li><a href="#">Как я провел лето</a></li>
							<li><a href="#">Как я провел лето</a></li>
							<li><a href="#">Как я провел лето</a></li>
							<li><a href="#">Как я провел лето</a></li>
						</ul>
					</li>
					<li><a href="#">Dr. Имидж</a></li>
				</ul>
			</div>
			
			<div class="sidebarBottom headerNavHover">
				<ul class="menu">
					<li><a href="#" class="bottomSidebarLink">LOOKS</a></li>
					<li><a href="#" class="bottomSidebarLink">Одежда</a></li>
					<li><a href="#" class="bottomSidebarLink">Обувь</a></li>
					<li><a href="#" class="bottomSidebarLink">Сумки</a></li>
					<li><a href="#" class="bottomSidebarLink">Аксессуары</a></li>
					<li><a href="#" class="bottomSidebarLink">Белье</a></li>
					<li><a href="#" class="bottomSidebarLink">Парфюмерия</a></li>
				</ul>
			</div>
			<div class="moreBtn">
				<a href="#">
					<img src="../img/homePage/header/navigatioMenu/moreBtn.jpg" alt="Ещё">
				</a>
			</div>
    	</nav>
    </div>
    <div class="bottomHeader">
    	<div class="phoneNumber1">
    		<a href="tel:+375296457129">
    			<span>8 (029)</span> 645-71-29
    		</a>
    	</div>
    	<div class="phoneNumber2">
    		<a href="tel:+375292212536">
    			<span>8 (029)</span> 221-25-36
    		</a>
    	</div>
    	<div class="shedule">
    		<p>Пн-Вс 10:00 - 20:00</p>
    	</div>
    	<div class="headerSocial">
    		<a href="https://www.facebook.com/">
    			<div class="facebookHeader socialIconHeader"></div>
    		</a>
    		<a href="https//www.vk.com/">
    			<div class="vkHeader socialIconHeader"></div>
    		</a>
    		<a href="https://twitter.com/?lang=ru">
    			<div class="twitterHeader socialIconHeader"></div>
    		</a>
    		<a href="https://plus.google.com/">
    			<div class="googleHeader socialIconHeader"></div>
    		</a>
    	</div>
    	<div class="produceByHeader">
    		<p>Разработано в WSP-design</p>
    	</div>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    
    
    
    
    
    
</header>