body {
	background: #474747 url(bg.png);
	margin: 70px;
	}

h1 a {
	display: block; text-decoration: none;
	font: 68px Helvetica, Arial, Sans-Serif; letter-spacing: -4px;  
	text-align: center;
	color: #999; text-shadow: 0px 3px 8px #2a2a2a;
 }
 	h1 a:hover {
 		color: #BDB2B2; text-shadow: 0px 5px 8px #2a2a2a;
 	}
 
h2 {
	font: 32px Tahoma, Helvetica, Arial, Sans-Serif;
	text-align: center;
	
	color: #222; text-shadow: 0px 2px 3px #555;
}

h3 a {
	display: block; text-decoration: none;
	font: 18px Helvetica, Arial, Sans-Serif; letter-spacing: 1px;  
	text-align: center;
	color: #999; text-shadow: 1px 1px 2px #2a2a2a;
 }
 	h3 a:hover {
 		color: #BDB2B2; text-shadow: 1px 1px 3px #0D0C0C;
 	}

pre {
	width: 500px; margin: 0 auto; background: #222; padding: 20px;
	font-size: 18px; color: #555; text-shadow: 0px 2px 3px #171717;
	
	-webkit-box-shadow: 0px 2px 3px #555;
	-moz-box-shadow: 0px 2px 3px #555;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	
}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
	border: none;
	}
	
#menu {
	width: 200px;
	margin: 10px;
	}
	
#menu li a {
	height: 32px;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu li a:link, #menu li a:visited {
	color: #FFF;
	display: block;
	background:  url(menu.gif);
	padding: 8px 0 0 35px;
	}
	
#menu li a:hover {
	color: #FFF;
	background:  url(menu.gif) 0 -32px;
	padding: 8px 0 0 35px;
	}