@import 'variables.scss';
@import 'mixins.scss';


/*----- FONTS -----*/
@font-face {
    font-family: goraRegular;
    src: url(../../fonts/pfagorasansproreg.otf);
    src: local('☺'),
    	url('../../fonts/pfagorasansproreg.eot?') format('embedded-opentype'),
        url('../../fonts/pfagorasansproreg.woff') format('woff'),
        url('../../fonts/pfagorasansproreg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: goraLight;
    src: url(../../fonts/PFAgoraSansProLight.otf);
    src: local('☺'),
    	url('../../fonts/PFAgoraSansProLight.eot?') format('embedded-opentype'),
        url('../../fonts/PFAgoraSansProLight.woff') format('woff'),
        url('../../fonts/PFAgoraSansProLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helveticaLight;
    src: url(../../fonts/helveticaneuecyr.otf);
    src: local('☺'),
    	url('../../fonts/helveticaneuecyr.eot?') format('embedded-opentype'),
        url('../../fonts/helveticaneuecyr.woff') format('woff'),
        url('../../fonts/helveticaneuecyr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*----- End fonts -----*/


body {
	background-color: #f5f2f2;
}

a {
    cursor: url(../../src/img/cursor.png) 8 1, auto;
	text-decoration: none;
}


/*----- HEADER -----*/

.header {
    @include inlineBlock();
	height: 100%;
	width: 12.2%;;
	.topHeader {
		border-right: 1px solid #f4f1f1;
		height: 75%;
		background-color: #fff;
		.topLogo {
			border-bottom: 1px solid #e5e5e5;
			text-align: center;
			height: 20%;
			img {
				width: 75%;
				margin-top: 5%;
				margin-bottom: 15%;
			}
		}
		.navigationIcon {
			padding: 7% 0% 7% 12%;
			border-bottom: 1px solid #e5e5e5;
			a {
				margin-right: 25%;
				img {
					min-height: 15px;
				}
			}
			a:last-child {
			margin-right: 0;
			}
		}
		nav {
			@include input-font($regularFont, 18px, #737373, 0px, normal);
			padding-bottom: 15px;
			width: 100%;
			line-height: 20px;
			.sidebar {
				width: 100%;
				border-bottom: 1px solid #e5e5e5;
				padding: 15px 0 15px 15px;
				.menu {
					a {
					color: #737373;
					padding: 10px;
					display: block;
					transition: 0.5s all;
					}
					.p_menu {
						position: relative;
						.subMenuLink img {
							margin-left: 50%;
							transition: 0.5s;
						}
						.subMenuLink img:hover {
							transform: scaleX(-1);
						}
					}
				} 
				.menu a:hover {
					text-decoration: underline;
				}
				.menu a:active {
					font-weight: bold;
				}
				.bottomSidebarLink {
					text-transform: uppercase;
				}
			}
			.sidebarBottom {
				padding-top: 15px;
				padding-left: 15px;
				.menu {
					a {
					color: #737373;
					padding: 10px;
					display: block;
					transition: 0.5s all;
					}
					.p_menu {
						position: relative;
						.subMenuLink img {
							margin-left: 50%;
							transition: 0.5s;
						}
						.subMenuLink img:hover {
							transform: scaleX(-1);
						}
					}
				} 
				.menu a:hover {
					text-decoration: underline;
				}
				.menu a:active {
					font-weight: bold;
				}
				.bottomSidebarLink {
					text-transform: uppercase;
				}
			}
			.moreBtn {
				margin-left: 10%;
    			margin-top: 5%;
			}
		}
		.v_menu {
			font-size: 0.9em;
			background-color: #fff;
			border: 1px solid #f5f2f2;
			position: absolute;
			width: 95%;
			left: 100%;
			top: -9999px;
			opacity: 0;
            z-index: 9999;
			border-left: 10px solid transparent;
			transition: 0.5s opacity;
		}
		.p_menu:hover .v_menu {
			opacity: 1;
			top: 0;
		}
	}
	.bottomHeader {
		text-align: center;
		height: 25%;
		padding-top: 16%;
		background-color: #111;
		.phoneNumber1, .phoneNumber2 {
			line-height: 2em;
			span {
				color: #8e8e8e;
			}
			a {
				@include input-font($lightFont, 18px, #fff, 0px, lighter);
				color: #fff;
				text-decoration: none;
			}
		}
		.shedule {
			@include input-font($lightFont, 14px, rgba(255, 255, 255, 0.4), 0px, lighter);
		}
		.headerSocial {
			margin-top: 30px;
			.socialIconHeader {
				background-image: url(../../img/homePage/header/social/social.png);
				background-repeat: no-repeat;
				height: 28px;
				width: 28px;
				margin-right: 10px;
				@include inlineBlock();
				-webkit-transition: all 0.5s ease-out 0s;
				-moz-transition: all 0.5s ease-out 0s;
				-o-transition: all 0.5s ease-out 0s;
				transition: all 0.5s ease-out 0s;
			}
			.facebookHeader:hover {
				background-position: 0px -33px;
			}
			.vkHeader {
				background-position: -38px 0;
			}
			.vkHeader:hover {
				background-position: -38px -33px;
			}
			.twitterHeader {
				background-position: -78px 0;
			}
			.twitterHeader:hover {
				background-position: -78px -33px;
			}
			.googleHeader {
				margin-right: 0;
				background-position: -117px 0;
			}
			.googleHeader:hover {
				background-position: -117px -33px;
			}
		}
		.produceByHeader {
			@include input-font($lightFont, 14px, rgba(255, 255, 255, 0.4), 0px, lighter);
			margin-top: 20px;
			margin-bottom: 45px;
		}
	}
}

.headerNavHover:hover {
	background-color: #fafafa;
}

/*----- End header -----*/


/*----- MAIN -----*/
/*----- SLIDER -----*/

.firstScreen {
    overflow: hidden;
}

.firstScreenSlider {
    @include inlineBlock();
    width: 49%;
    float: left;
}

.content {
    @include inlineBlock();
    position: absolute;
}

.bxslider li p {
    @include input-font($lightHelvetica, 54px, #2b2b2b, 0px, lighter);
}

.bx-wrapper:hover {
    opacity: 0.75;
    background-color: #fff;
}

/*----- End slider -----*/

/*----- TOP GALLERY -----*/
.firstScreenGallery {
    @include inlineBlock();
    width: 50%;
    .forWoman {
        position: relative;
        p {
            top: 10%;
            left: 10%;
        }
    }
    .forMan {
        position: relative;
        p {
            top: 70%;
            left: 60%;
        }   
    }
    .forWoman:hover, .forMan:hover {
        opacity: 0.75;
        background-color: #fff;    
    }
    a {
        text-decoration: none;
        p {
            @include input-font($lightHelvetica, 54px, #fff, 0px, lighter);
            position: absolute;
        }    
    }
}

/*----- End top gallery -----*/

/*----- JOURNAL -----*/

.journalBigImg {
    display: block;
    max-width: 100%;
}

.journal .row {
	margin: 0;
}

.journal .row div {
	position: relative;
    max-width: 100%;
}

.journal .row .bigImgContainer:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 25px;
    bottom: 10px;
    left: 25px;
    border: 7px solid rgba(255, 255, 255, 0.4);
}

.journal sub {
	margin-left: -1em;
}

.bigImgDescription {
	background-color: #fff;
	z-index: 9999;
	margin-top: -95px;
    position: absolute;
}



/*----- End journal -----*/





































