/*----- MIXINS -----*/

@mixin input-font($family, $size, $color, $spacing, $weight) {
    font-family: $family, Helvetica, Arial, sans-serif;
    font-size: $size;
    color: $color;
    letter-spacing: $spacing;
	font-weight: $weight;
}

@mixin inlineBlock {
    display: inline-block;
}